ingressRoute:
  dashboard:
    enabled: true
    matchRule: Host(`dashboard.kub`)
    entryPoints:
      - web # should this be websecure? what about cert-manager HTTP-01 challenge?
    annotations:
      external-dns.alpha.kubernetes.io/hostname: dashboard.kub
    middlewares:
      - name: dashboard-auth
        namespace: kube-system
providers:
  kubernetesGateway:
    enabled: true
gateway:
  namespacePolicy: All

# Keep both entrypoints; redirect handled by catch-all IngressRoute so HTTP-01 challenge routes can win
ports:
  web: {}
  websecure:
    tls:
      enabled: true
# Enable API and dashboard
api:
  dashboard: true
  insecure: false
