ingressRoute:
  dashboard:
    enabled: true
    matchRule: Host(`dashboard.kub`)
    entryPoints:
      - web
    annotations:
      external-dns.alpha.kubernetes.io/hostname: dashboard.kub
    middlewares:
      - name: dashboard-auth
        namespace: kube-system
providers:
  kubernetesGateway:
    enabled: true
gateway:
  namespacePolicy: All

# Enable API and dashboard
api:
  dashboard: true
  insecure: false
